{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content %}
{% include 'navbar.html'%}

<!-- breadcrumbs start...-->

<div class="breadcrumbs ">
    <div class="breadcrumbs-inner shadow-sm mx-3">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right ">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
                            <li><a href="#">Task</a></li>
                            <li class="active">Add Task</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /breadcrumbs end...-->

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6 offset-3 mt-5">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Task</strong>
                    </div>
                    <div class="card-body">
                        <!-- Add task -->
                        <div id="">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Add Task</h3>
                                </div>
                                <hr>
                                <form action="" method="post" novalidate="novalidate"enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ task_form|crispy}}
                                    <div>
                                        <button  type="submit" class="btn btn-lg btn-info btn-block">
                                            <i class="fa fa-save"></i>&nbsp;
                                            <span>Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- .card -->
            </div><!--/.col-->
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}