{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content %}
{% include 'navbar.html'%}

<!-- breadcrumbs start...-->

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
                            <li><a href="#">Program</a></li>
                            <li class="active">Delete Program</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /breadcrumbs end...-->

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6 offset-3 mt-5">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Program</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Delete {{deleteProgram}} Program</h3>
                                </div>
                                <hr>
                                <form action="{% url 'projects:delete_program' id=deleteProgram.id %}" method="post"
                                      novalidate="novalidate">

                                    {% csrf_token %}


                                    <div>
                                        <button class="btn btn-lg btn-info btn-block">
                                            <span>DELETE</span>
                                        </button>
                                    </div>

                                </form>
                                <div>
                                    <button class="btn btn-lg btn-info btn-block">
                                        <span>Cancel</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- .card -->

            </div><!--/.col-->


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}